@page "/"
@inherits IndexBase
<PageTitle>Pills reminder</PageTitle>

<div class="container text-center">
    <button type="button" class="btn btn-primary" @onclick="StartNewProcess">Sart new process</button>
</div>

@if (ServoAngle != null)
{
        <hr>
        <label for="servoRange" class="form-label">Servo angle @ServoAngle °</label>
        <input type="range" class="form-range" id="servoRange" min="0" max="180" step="5" value="@ServoAngle"
    @oninput="@((args) => OnServoAngleInput(args.Value.ToString()))"
    @onchange="@((args) => OnServoAngleChanged(args.Value.ToString()))">
}

@if (Leds != null)
{
        <hr>
        <table class="table">
            <thead>
                <tr>
                @foreach (var ledState in Leds)
                {
                    <th class="text-center">
                        @WeekDay(ledState.LedNumber)
                    </th>
                }
                </tr>
            </thead>
            <tbody>
                <tr>
                @foreach (var ledState in Leds)
                {
                    <td>
                        <div class="led-box" @onclick="() => SwitchLedOff(ledState.LedNumber)" >
                            <div class="@(LedClass(ledState.State))"></div>
                        </div>
                    </td>
                }
                </tr>
                <tr>
                @foreach (var ledState in Leds)
                {
                    <td class="text-center led-time">
                        @ledState.DateChange
                    </td>
                }
                </tr>
            </tbody>
        </table>
}
@if (Report != null)
{
        <p>Hisory:</p>
        <table class="table">
            <tbody>
            @foreach (var reportItem in Report)
            {
                <tr>
                    <td>@WeekDay(reportItem.PillNumber)</td>
                    <td>
                        <div class="led-box">
                            <div class="@(reportItem.Success ? LedClass(LedAction.GreenOn) : LedClass(LedAction.RedOn))"></div>
                        </div>
                    </td>
                    <td>@reportItem.DateTaken.ToString("dd.MM.yyyy HH:mm")</td>
                </tr>
            }
            </tbody>
        </table>
}
